# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
modmigrator

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Mods directories
mods/
old_mods/
*.tmp
